nav {
  background-color: #00004d;
}

.custom-logo-text {
  margin-left: 30px;
  font-variant: small-caps;
}

.custom-logo-img {
  border-radius: 15px;
}

.custom-date {
  margin-right: 60px;
}

.custom-search-div {
  margin-top: 3%;
}

.custom-btn {
  margin-top:25%;
  margin-left: 0;
  text-align: center;
}

.btn {
  border-radius: 10px;
}

img{
  padding:3%;
}
li {
  list-style-type: none;
  text-align: center;
}
.custom-search-history{
  border-left-width:0;
  border-right-width:0; 
}

.custom-btn-history{
  border-width: 0;
  background-color: inherit;
}

.custom-btn-history:hover{
  color:#9fa8da;
}

h5{
  color:#1a237e;
}
.custom-title{
  font-size:30px;
  margin-left:2%;
  margin-bottom:1px;
  color:#1a237e;
}

.custom-news-images{
  height:470px;
}

.custom-news-p{
  color:#ffab00 ;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .custom-news-images{
    height:340px;
  }
}

@media screen and (max-width: 1000px) {
  .custom-btn {
    margin-top:0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .custom-search-div {
    margin-top: 6%;
  }
  .custom-btn {
    margin-top:0;
    text-align: center;
  }
  .custom-title{
   text-align: center;
  }
}