* {
background-color: whitesmoke;
height: 200vh;
    }



header {

    width: 100%;
    font-size: 40px;
    text-align: center;
    height: 12vh;
}

header h1 {
    padding-top: 0.7rem;
    color: black;

}

.searchbar-sizing {
    margin-top: 2rem;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;

}

